#cloud-config
users:
  - name: ${username}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_authorized_key}

disable_root: true
ssh_pwauth: false

packages:
  - fail2ban
  - unattended-upgrades

runcmd:
  - [ sh, -c, "systemctl enable --now fail2ban" ]
  - [ sh, -c, "dpkg-reconfigure -f noninteractive unattended-upgrades" ]
  - [ sh, -c, "curl -fsSL https://cdn.coollabs.io/coolify/install.sh | bash" ]

final_message: "Cloud-init finished. Coolify installed."
